<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
    colors="true"
    bootstrap="vendor/autoload.php"
    >
    <testsuites>
        <testsuite name="PHP Matcher Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/Coduo/PHPMatcher/</directory>
        </whitelist>
    </filter>
</phpunit>
